{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Weather forecast</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Enter city name for weather forecast</h1>
        <form method="post" id="city-form" action="{% url 'weather_forecast' %}">
            {% csrf_token %}
            <input type="text" id="city" name="city" autocomplete="off" placeholder="Enter city">
            <button type="submit">Check the weather</button>
        </form>

        {% if last_city %}
        <div class="last-city-button">
            <form method="post" action="{% url 'weather_forecast' %}">
                {% csrf_token %}
                <input type="hidden" name="city" value="{{ last_city }}">
                <button type="submit">Check the weather in {{ last_city }}</button>
            </form>
        </div>
        {% endif %}

        <div id="suggestions"></div>
    </div>
    <script>
        var cityAutocompleteUrl = "{% url 'city_autocomplete' %}";
    </script>
    <script src="{% static 'js/autoadd.js' %}"></script>
</body>
</html>
